### Bitcoin Configuration
BITCOIN_NETWORK=signet
BITCOIN_RPC_HOST=11.22.33.44:38332
BITCOIN_RPC_USER=rpcuser
BITCOIN_RPC_PASS=rpcpass
ZMQ_RAWBLOCK_URL=tcp://11.22.33.44:29001
ZMQ_RAWTR_URL=tcp://11.22.33.44:29002

# Bitcoin Wallet Configuration
BTC_WALLET_NAME=btcwallet
BTC_WALLET_PASS=walletpass

# Babylon Configuration
BABYLON_CHAIN_ID=bbn-test-1
BABYLON_RPC_URL=babylon_rpc_url
BABYLON_GRPC_URL=babylon_grpc_url

# Babylon btc-staker configuration
BTC_STAKER_KEY=btc-staker

# Consumer finality provider configuration
CONSUMER_EOTS_MANAGER_ADDRESS=11.22.33.44:15813
CONSUMER_FINALITY_PROVIDER_KEY=consumer-finality-provider
L2_RPC_URL=http://11.22.33.44:8545
FINALITY_GADGET_ADDRESS=bbn14hj2tavq8fpesdwxxcu44rty3hh90vhujrvcmstl4zr3txmfvw9sw76fy2
FINALITY_GADGET_RPC=http://11.22.33.44:50051