# Deploy CW contract
CONTRACT_DEPLOYER_KEY=contract-deployer
CONTRACT_DEPLOYER_KEY_MNEMONIC="your mnemonic here"
CONTRACT_VERSION="v0.10.0-rc.0"
CONTRACT_FILE="op_finality_gadget.wasm"
BABYLON_CHAIN_ID=euphrates-0.5.0
BABYLOND_NODE=https://rpc-euphrates.devnet.babylonlabs.io:443
# env vars to configure the contract
# CONTRACT_ADMIN_ADDRESS is optional, if not provided, the deployer address will be used as the admin
# CONTRACT_ADMIN_ADDRESS=contract_admin_address
CONSUMER_ID=op-chain-706114
IS_ENABLED=false
CONTRACT_LABEL=op-finality-gadget
# file to store the contract address
CONTRACT_ADDR_FILE=contract-address.txt