services:
  # This is a one-off container just for setting the Babylon keys
  set-babylon-keys:
    container_name: set-babylon-keys
    image: snapchain/babylon-deployment-utils:ed6e196
    env_file:
      - "${PWD}/.env.babylon-integration"
    volumes:
      - ${PWD}/.deploy/babylond:/home/.babylond
    entrypoint:
      - /bin/bash
      - -c
      - /set-babylon-keys.sh

  # This is a one-off container just for registering the consumer chain
  register-consumer-chain:
    container_name: register-consumer-chain
    image: snapchain/babylon-deployment-utils:ed6e196
    env_file:
      - "${PWD}/.env.babylon-integration"
    volumes:
      - ${PWD}/.deploy/babylond:/home/.babylond
    entrypoint:
      - /bin/bash
      - -c
      - /register-consumer-chain.sh

  # This is a one-off container just for deploying cw contract
  deploy-cw-contract:
    container_name: deploy-cw-contract
    image: snapchain/babylon-deployment-utils:ed6e196
    env_file:
      - "${PWD}/.env.babylon-integration"
    volumes:
      - ${PWD}/.deploy/babylond:/home/.babylond
      - ${PWD}/.deploy/contract:/home/.deploy
    entrypoint:
      - /bin/bash
      - -c
      - /deploy-cw-contract.sh

  # This is a one-off container just for setting the finality contract enabled value
  toggle-cw-killswitch:
    container_name: toggle-cw-killswitch
    image: snapchain/babylon-deployment-utils:ed6e196
    env_file:
      - "${PWD}/.env.babylon-integration"
    volumes:
      - ${PWD}/.deploy/babylond:/home/.babylond
      - ${PWD}/.deploy/contract:/home/.deploy
    entrypoint:
      - /bin/bash
      - -c
      - /toggle-cw-killswitch.sh

  teardown:
    container_name: teardown
    image: snapchain/babylon-deployment-utils:ed6e196
    env_file:
      - "${PWD}/.env.babylon-integration"
    volumes:
      - ${PWD}/.deploy/babylond:/home/.babylond
    entrypoint:
      - /bin/bash
      - -c
      - /teardown.sh

  btc-staker:
    container_name: btc-staker
    # https://github.com/babylonlabs-io/btc-staker/commit/484bcb8fd9b7b0b525234d704dd049b1ef18e29f
    # euphrates-0.5.0-rc.0
    image: babylonlabs/btc-staker:484bcb8fd9b7b0b525234d704dd049b1ef18e29f
    env_file:
      - "${PWD}/.env.babylon-integration"
    volumes:
      - ${PWD}/.btc-staker:/home/btcstaker/.stakerd
    ports:
      - "15812:15812"
    restart: unless-stopped
    networks:
      - babylon-integration

  consumer-eotsmanager:
    container_name: consumer-eotsmanager
    # https://github.com/babylonlabs-io/finality-provider/commit/45a24e1f5c235a829eaeca3c3336053032ec0088
    image: babylonlabs/finality-provider:45a24e1f5c235a829eaeca3c3336053032ec0088
    command: eotsd start
    volumes:
      - ${PWD}/.consumer-eotsmanager:/home/finality-provider/.eotsd
    ports:
      - "15813:15813"
    restart: unless-stopped
    networks:
      - babylon-integration

  consumer-finality-provider:
    container_name: consumer-finality-provider
    # https://github.com/babylonlabs-io/finality-provider/commit/7d341b5d02e3f0e2b27a9a5c5e563a73a6601d50
    image: babylonlabs/finality-provider:7d341b5d02e3f0e2b27a9a5c5e563a73a6601d50
    command: fpd start
    volumes:
      - ${PWD}/.consumer-finality-provider:/home/finality-provider/.fpd
    ports:
      - "12581:12581"
    depends_on:
      - consumer-eotsmanager
    restart: unless-stopped
    networks:
      - babylon-integration

  finality-gadget:
    container_name: finality-gadget
    # https://github.com/babylonlabs-io/finality-gadget/commit/8bdd24c7d32e7ffb8fe06cebcb571cb2ce52db12
    image: babylonlabs/finality-gadget:8bdd24c7d32e7ffb8fe06cebcb571cb2ce52db12
    command: >
      opfgd start --cfg /home/finality-gadget/opfgd.toml
    ports:
      - "50051:50051"
      - "18080:8080"
    volumes:
      - ${PWD}/.finality-gadget:/home/finality-gadget
    restart: unless-stopped
    networks:
      - babylon-integration

  finality-explorer:
    container_name: finality-explorer
    image: snapchain/finality-explorer:sha-3ea3cc3
    ports:
      - "13000:3000"
    env_file:
      - "${PWD}/.env.babylon-integration"
    restart: unless-stopped

networks:
  babylon-integration:
